---
title: Haircut
date: "2022-5-27"
---

I got a haircut -- from ponytail to.. regular?

 ![My haircut before](/images/haircut/before.jpeg "Ye old haircut")
 ![My haircut after](/images/haircut/after.jpeg "My cut, G")