---
title: Personal Website Planning
date: '2022-05-28'
tags: meta
---

Here’s the plan: build a Web 1.0 website / blog thing? I’m planning on using sveltekit with static rendering. I already have the static rendering working and automatically deploying to neocities. I have to put some thought into what I want in neocities and if I want a separate personal website, but I think I should stop using steal.dog as a personal website and just use it as an app container. Anyway — I’ve set up my neocities with sveltekit and when I git push, it deploys. Super cool. Basically done, right?

**Wrong!!!**** ← I’m gonna animate that eventually.

So I know that I want to have more than just a blog, and I have some thoughts on what I really mean by blog.

### What I really mean by blog

I tried to set up a Wordpress blog a long time ago, but it seems like crazy overkill. Tags are cool, time dates are cool, but it’s no wonder people made careers on modifying it — Wordpress was a lot to deal with. It was over engineered, and for a long time insecure. With all of its features, addons and modules, results tended to be… inconsistent. Front ends were messy, and it was hard to manage. On the back end, there was so much to consider, and so many UIs to go through. And I always wanted to have something more than the rigid confines of a Wordpress blog allowed me to create.

### What I’ve done before

I love the idea of minimal design / no JavaScript. I know I’ll be using Sveltekit and to some degree client side JavaScript to handle client-side rendering, which is breaking some of the rules of Web 1.0 and minimalist design. However, this is MY personal website!! Welcome to 1.0 baby!!

It wasn’t always this way. A few years ago I built a portfolio that compiled completely on build and had no JavaScript whatsoever. I imported images from my personal Instagram archive data with a python script I wrote in an afternoon (I felt pretty good about that), I compiled a bunch of my poetry, projects, and music, and built a little front end for it — it was alright. Maybe I’ll show you sometime? I want to go for something similar, but with more of a focus on expression and being able to have fun with it. My project history is a little messy, but I’m no longer trying to cater to potential employers or long time friends. Or aesthetic principals. Or the English language. Or Algo más. 

### What else do I want

I want funny rich text and cool aesthetics. I want more than just blogs, I want essays and documents, and I may as well throw a few organized tabs in there. I’m not sure exactly how it’s going to end up, but I want more than my thoughts *in order* — I want thoughts that are *timeless*. As far as pictures, I’m not sure if I’m gonna flood it with photos unless I have the intention to be a photographer… but I do love to travel! And I just captured a ton of pictures when I went to Iceland, so I might do that. And when I make games and do game-jams, I’ll link them too of course. I can talk about games I’m playing and games I’ve loved – maybe tie it into YouTube eventually? Other than that, maybe lists of links and link-rings. To also share my friends’ and associates’ content – I would really love that.

As far as site aesthetics, I’m not really sure what I’m going to go for yet. The space backgrounds are pretty popular, but I’ve found with experimenting that you can’t use *real* space photos, at least not without filtering/ crunching it first. The colorfulness can make the site look muddy. I do intend to make it mobile responsive, and I want to use modern CSS like grid and flex 🙏. I might use material icons and emojis.

One thing I absolutely do need: Markdown support and animated text / rich text (like in video games lol).

---

So the work begins now. I’ll look at some other similar Web 1.0 websites to get some ideas, and start scaffolding it out on the basis of using these journal entries as starter content.