---
name: Friends & Collaborators
---
* [Design & Dissection](https://www.youtube.com/channel/UCqdcD7M2JShEWrh3HIJ2zNQ)
* [azlef900](https://www.youtube.com/channel/UCkZjdCdkmeF2ebOGHQOF1gA)
* [Wimyan](https://www.youtube.com/user/Breanotch)