---
name: Tools
---
* [https://www.websiteout.net/counter.php] counter
* [https://sadgrl.online/webmastery/downloads/fonts.html] fonts
* [https://gifcities.org/] gifs
* [https://www.toptal.com/designers/subtlepatterns/] patterns
* [https://rvklein.me/proj/emsqpat/] patterns 2
* [https://doodad.dev/dither-me-this/] ditherizer