@import '@/styles/prism/prism-tomorrow-night-eighties.css';

:global {
  code, pre {
    &[class*="language-"] {
      white-space: pre-wrap;
      width: auto;
      tab-size: 1;
      font-size: .6rem;
      font-family: 'Roboto Mono';
      font-weight: 400;
      font-size: .8rem;
    }
  }

  pre[class*="language-"] {
    margin-block: 1rem;
    max-width: clamp(0%, 25rem, 100%);
    margin-inline: auto;
  }
}