@import '@/styles/prism/prism-tomorrow-night-eighties.css';

:global {
  code, pre {
    &[class*="language-"] {
      @extend .font-mono;
      width: auto;
      tab-size: 1;
    }
  }

  pre[class*="language-"] {
    margin-block: 1rem;
    max-width: clamp(0%, 25rem, 100%);
    margin-inline: auto;

    code {
      padding: 0;
    }
  }
}