@import 'the-new-css-reset/css/reset.css';
@import './prism/prism.scss';

:global {

  // generic stuff
  html, body {
    min-height: 100vh;
  }

  body {
    background-color: $blue;
    color: $white;
    font-family: $font-primary;
    font-weight: 500;
  }

  button {
    cursor: pointer;
  }

  blockquote {
    padding: .2em 1em;
    margin: .8em 0;
    border-left: .2em solid $accent-color;
  }

  code {
    font-family: "Roboto Mono", monospace;
    font-size: .9rem;
    font-weight: 500;
  }

  p {
    font-weight: 200;
    display: block;
    margin-block: .5em;
    letter-spacing: .01em;
    line-height: 1.2em;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 500;
  }

  del {
    text-decoration: line-through;
  }

  img {
    display: block;
    width: 100%;
    margin-block: .4rem;

    @include media(">desktop"){
      margin-inline: auto;
      width: inherit;
    }
    
    box-shadow: 0 0 .1rem #000;
  }

  // header sizes lol
  @for $i from 1 through 6 {
    h#{7 - $i} {
        font-size: calc(1.6rem / 6 * $i);
        font-weight: calc(300 + 500 / 6 * $i);
        letter-spacing: .0em;
        margin-block: 1em .25em;
    }
  }

  a {
    color: $link;
    font-weight: 400;

    &:hover {
      color: $link-hover;
    }

    &:active {
      color: $link-accent;
    }
  }

  // responsive stuff

  // root sizes

  :root {
    @include media("<tablet"){
      font-size: clamp(3vw, 6vw, 8vh);
    }
    @include media(">=tablet", "<desktop"){
      font-size: clamp(2vw, 4vw, 6vh);
    }
    @include media(">=desktop"){
      font-size: clamp(1vw, 2vw, 2rem);
    }
  }

  ul {
    li {
      font-weight: 100;
    }
  }

  // helpers

  .hide-mobile{
    @include media("<tablet"){
      display:none;
    }
  }

  .hide-tablet{
    @include media(">=tablet", "<desktop"){
      display:none;
    }
  }

  .hide-desktop{
    @include media(">=desktop"){
      display:none;
    }
  }

  .center {
    display: flex;
    place-content: center;
  }
}