@import 'the-new-css-reset/css/reset.css';

:global {

  // generic stuff
  html, body {
    min-height: 100%;
    min-height: 100vh;
  }

  button {
    cursor: pointer;
  }

  pre {
    font-family: monospace;
    white-space: pre-wrap;
  }

  code {
    font-family: monospace;
    font-size: .8rem;
  }

  p {
    display: block;
    margin-block: .5em;
  }

  // header sizes lol
  @for $i from 1 through 6 {
    h#{7 - $i} {
        font-size: calc(1.6rem / 6 * $i);
    }
  }

  // helpers

  .hidden {
    display: none;
  }

  // responsive stuff

  // root sizes

  :root {
    @include media("<tablet"){
      font-size: clamp(3vw, 6vw, 8vh);
    }
    @include media(">=tablet", "<desktop"){
      font-size: clamp(2vw, 4vw, 6vh);
    }
    @include media(">=desktop"){
      font-size: clamp(1vw, 2vw, 4vh);
    }
  }

  // helpers

  .hide-mobile{
    @include media("<tablet"){
      display:none;
    }
  }

  .hide-tablet{
    @include media(">=tablet", "<desktop"){
      display:none;
    }
  }

  .hide-desktop{
    @include media(">=desktop"){
      display:none;
    }
  }
}