@import 'the-new-css-reset/css/reset.css';

:global {

  // root sizes
  :root {
    @include media("<tablet"){
      font-size: 6vmin;
    }
    @include media(">=tablet", "<desktop"){
      font-size: 4vmin;
    }
    @include media(">=desktop"){
      font-size: 3vh;
    }
    height: 100%;
  }

  body {
    height: 100%;
  }

  button {
    cursor: pointer;
  }

  // helpers

  .hide-mobile{
    @include media("<tablet"){
      display:none;
    }
  }

  .hide-tablet{
    @include media(">=tablet", "<desktop"){
      display:none;
    }
  }

  .hide-desktop{
    @include media(">=desktop"){
      display:none;
    }
  }
  
  #svelte { // basically body
    display: grid;
    
    grid-template-areas:  "header"
                          "navbar"
                          "main"
                          "footer";
    grid-template-rows: auto auto 1fr auto;

    @include media(">=tablet"){
      grid-template-areas:  "header header"
                            "navbar main"
                            "footer footer";
      grid-template-rows: auto 1fr auto;
    }

    // set defaults for children
    .header, #header, & > header {
      grid-area: header;
    }
    .navbar, #navbar, & > nav {
      grid-area: navbar;
    }
    .main, #main, & > main {
      grid-area: main;
    }
    .footer, #footer, & > footer {
      grid-area: footer;
    }
  }

  @for $i from 1 through 6 {
    h#{7 - $i} {
        font-size: calc(3.4em / 6 * $i);
    }
  }
}