:global {
  #grid-main { // basically body
    min-height: 100vh;
    display: grid;
    margin: auto;
    gap: .2rem;
    padding: .2rem;

    grid-template-areas:  "header"
                          "nav"
                          "aside"
                          "main"
                          "footer";
    grid-template-rows: auto auto auto 1fr auto;
    max-width: 60rem;

    @include media(">=tablet", "<desktop"){
      grid-template-areas:  "header aside"
                            "nav main"
                            "footer footer";
      grid-template-rows: auto 1fr auto;
      grid-template-columns: 5rem 1fr;
    }

    @include media(">=desktop"){
      grid-template-areas:  "header aside"
                            "nav main"
                            "footer footer";
      grid-template-rows: auto 1fr auto;
      grid-template-columns: 5rem 1fr 5rem; // actually centers it hehe
      padding-inline: 5rem;
    }

    // set defaults for children
    @mixin defaults($element) {
      grid-area: $element;
      border-radius: .2rem;
      padding: .2rem;
    }

    & > .header, & > #header, & > header {
      @include defaults(header);
    }
    & > .nav, & > #nav, & > nav {
      @include defaults(nav);
    }
    & > .aside, & > #aside, & > aside {
      @include defaults(aside);
    }
    & > .main, & > #main, & > main {
      @include defaults(main);
    }
    & > .footer, & > #footer, & > footer {
      @include defaults(footer);
    }
  }
}