// font styles //

$font-primary: "Roboto Flex", sans-serif;
$font-accent: "Dancing Script", cursive;

// app sizes //

$mobile: 20em;
$tablet: 48em;
$desktop: 64em;
$breakpoints: (mobile: $mobile, tablet: $tablet, desktop: $desktop);

// colors //

$blue: #4A49BC;
$white: #E5E5F5;

$bg-main: $blue;
$fg-main: $white;

$link: #BFBEE7;
$link-hover: #B2B1E2;
$link-accent: #4A97BD;

$code-bg: #BD4AA4;

$accent-color: #393795;