// change these //

$primary-color: #D7CEC7;
$primary-dark: #565656;
$primary-accent: #76323F;
$primary-accent-2: #C09F80;
$black: #222222;
$white: #F5F5F5;

// app colors //




// font styles //

$font-primary: "Roboto Flex", sans-serif;
$font-accent: "Dancing Script", cursive;

// app sizes //

$mobile: 20em;
$tablet: 48em;
$desktop: 64em;
$breakpoints: (mobile: $mobile, tablet: $tablet, desktop: $desktop);