---
title: Haircut
date: '2022-05-27'
tags: personal
---

I got a haircut!!

<div class="center">from ponytail:</div>

![My haircut before](/images/journal/20220527/haircut/before.jpeg "Ye old haircut")

<div class="hr">✂️✂️✂️✂️✂️✂️</div>

<div class="center">to.. regular?</div>

![My haircut after](/images/journal/20220527/haircut/after.jpeg "My cut, G")