<script context="module">
  import { metadata, default as Godot } from '$lib/examples/2022-6-5/Godot.svx';

  let {name, site, discord, twitter} = metadata;
</script>

<script>
  import { browser } from '$app/env';

  let hidden = browser;

  const toggle = () => {
    hidden = !hidden;
  }
</script>

<button on:click={toggle}>{name}</button>
{#if !hidden}
  <aside>
    <a href={site}>website</a>
    <a href={discord}>discord</a>
    <a href={twitter}>twitter</a>
    <Godot />
  </aside>
{/if}
