@import './grid-base.scss';

:global {
  #grid-main {
    @extend .grid-base;
    grid-template-areas:
      'header'
      'nav'
      'aside'
      'main'
      'footer';
    grid-template-rows: auto auto auto 1fr auto;

    @include media('>=tablet', '<desktop') {
      grid-template-areas:
        'header aside'
        'nav main'
        'footer footer';
      grid-template-rows: auto 1fr auto;
      grid-template-columns: 5rem 1fr;
    }

    @include media('>=desktop') {
      grid-template-areas:
        'header aside empty'
        'nav main main'
        'footer footer footer';
      grid-template-rows: auto 1fr auto;
      grid-template-columns: 5rem 1fr 5rem; // actually centers it hehe
    }
  }
}