---
title: Boneman's Buttons
project: boneman
type: game
link: https://rogerahuntley.itch.io/bonemans-buttons
---

Push barrels and maneuver around chess pieces in this super cool and super fun puzzle game. WASD to move, or swipe for touch devices.