---
title: My Birthday 🎂
date: '2022-06-28'
tags: personal
---

My birthday was earlier this month. I was traveling at the time so I wasn't able to be home for it. Some of my friends and I are planning to do stuff this next weekend, but I'm not sure what yet. There's a ton of '4th of July' festivities going on, but with Roe v. Wade being overturned it all feels extremely uncomfortable.

<div class="hr">🎉🎉🎉🎉🎉🎉</div>

My girlfriend got me the best birthday present ever. We were driving to her families house when she handed me her tablet and told me to watch this video. It was like 15 minutes long - a compilation video of a bunch of my friends telling me happy birthday and just like, saying nice things + being funny. I was laughing and crying for like 15 minutes. She asked me if she crossed a boundary and maybe in a different mood or situation I would have agreed but it was the nicest thing anyone has ever organized for me.

I love herrrr ❤️

<div class="hr">🎉🎉🎉🎉🎉🎉</div>

...and her grandma made me carrot cake